.section-inventario > *
{
    margin-right: 10px;
    margin-bottom: 20px;
}

.inventario-entrada
{
    width: 190px;
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
}